form,
p,
ul,
ol,
dl,
dt,
dd,
li,
body,
h1,
h2,
h3,
h4,
h5,
h6,
td,
tr,
button,
figure,
input,
fieldset {
  margin: 0;
  padding: 0; }

header,
footer,
article,
section,
hgroup,
nav,
figure {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #0667b2;
  text-decoration: none; }

img {
  display: block;
  height: auto;
  width: 100%; }

.flex_grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /*margin-left: 5%;*/ }

body {
  font-family: myriad-pro, Arial, sans-serif;
  font-size: 62.5%;
  color: #77787b;
  background: url("/images/styles/bg_dots_1.svg") repeat-y top left 12px/208px; }

p {
  font-size: 1.6em;
  margin-bottom: 20px; }

h1,
h2 {
  font-family: eurostile, Arial, sans-serif; }

.row {
  width: 100%;
  padding: 0 5%; }

.cta_button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: yellow;
  padding: 15px 20px;
  display: inline-block;
  font-size: 1.8em; }

.home h2 {
  color: #0667b2;
  font-family: eurostile, Arial, sans-serif;
  font-size: 4.2em;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 30px; }

header .row.search_bar {
  background-color: #dcddde;
  padding: 8px 5%; }

header .usa_flag {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 200px;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px; }
  header .usa_flag img {
    width: 46px;
    float: left;
    margin-right: 10px; }
  header .usa_flag figcaption {
    color: #0667b2;
    font-size: 1.4em;
    padding: 4px 0;
    text-transform: uppercase; }

header .secondary {
  text-align: right; }
  header .secondary ul {
    list-style-type: none;
    padding: 3px 0 0 0; }
    header .secondary ul li {
      display: inline-block;
      margin-right: 20px;
      font-size: 1.6em; }

header .search {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 400px;
  -ms-flex: 0 1 400px;
  flex: 0 1 400px; }
  header .search input[type=text] {
    border: 1px solid #c4c4c4;
    height: 26px;
    margin: 0;
    padding: 0 2%;
    width: 75%; }
  header .search input[type=submit] {
    background-color: #0667b2;
    border: 0;
    color: #fff;
    display: inline-block;
    height: 26px;
    width: 24%; }

.row.logo_bar {
  padding: 40px 5%;
  background: #fff; }
  .row.logo_bar .col.logo {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 343px;
    -ms-flex: 0 1 343px;
    flex: 0 1 343px; }
  .row.logo_bar nav.primary {
    text-align: right;
    font-family: eurostile, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase; }
    .row.logo_bar nav.primary ul {
      list-style-type: none;
      padding: 36px 0 0 0; }
      .row.logo_bar nav.primary ul li {
        display: inline-block;
        margin-left: 20px;
        font-size: 2em; }

.row.hero {
  min-height: 631px;
  padding: 0;
  border-top: 8px solid #ffef00;
  position: relative;
  overflow: hidden; }
  .row.hero .video_holder {
    min-height: 551px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-image: none;
    border-bottom: 85px solid rgba(171, 171, 171, 0.4); }
    .row.hero .video_holder .main {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      /*width: 100%;*/
      height: auto;
      z-index: -100;
      /*background-size: cover;*/
      -webkit-transition: 1s opacity;
      -o-transition: 1s opacity;
      transition: 1s opacity;
      top: -50%;
      left: 50%;
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0); }
  .row.hero .color_overlay {
    width: 84%;
    /*background-color: rgba(0, 121, 193, 0.7);*/
    background: -moz-linear-gradient(left, #0079c1 0%, rgba(0, 121, 193, 0.75) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0079c1 0%, rgba(0, 121, 193, 0.75) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#0079c1), to(rgba(0, 121, 193, 0.75)));
    background: -o-linear-gradient(left, #0079c1 0%, rgba(0, 121, 193, 0.75) 100%);
    background: linear-gradient(to right, #0079c1 0%, rgba(0, 121, 193, 0.75) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0079c1', endColorstr='#bf0079c1',GradientType=1 );
    /* IE6-9 */
    margin-left: 0px;
    top: 0;
    position: absolute;
    min-height: 466px;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg); }
    .row.hero .color_overlay:after {
      content: "";
      position: absolute;
      width: 220px;
      top: 0;
      left: 134px;
      z-index: -1;
      opacity: .4;
      background: url("/images/styles/bg_dots_1.svg") repeat-y top left 12px/208px;
      -webkit-transform: rotate(30deg);
      -webkit-transform: skew(-30deg, 0deg);
      -ms-transform: skew(30deg, 0deg);
      transform: skew(30deg, 0deg);
      min-height: 466px; }
  .row.hero .text_box {
    color: #fff;
    padding-left: 5%;
    width: 65%;
    top: 50px;
    position: absolute; }
    .row.hero .text_box h1 {
      font-family: eurostile, Arial, sans-serif;
      font-size: 5.5em;
      font-weight: 300;
      line-height: 1.2em;
      margin-bottom: 30px; }
  .row.hero .plax_circle {
    position: absolute;
    width: 562px;
    top: 50px;
    left: -6%; }
  .row.hero .plax_plusline {
    position: absolute;
    width: 1300px;
    bottom: 32px;
    left: 232px;
    opacity: .2; }
  .row.hero .plax_plus_blue {
    position: absolute;
    width: 50px;
    bottom: 10px;
    left: 11%;
    opacity: .3; }
  .row.hero .plax_plus_green {
    position: absolute;
    width: 50px;
    bottom: 10px;
    left: 50%;
    opacity: .3; }
  .row.hero .plax_plus_red {
    position: absolute;
    width: 50px;
    bottom: 10px;
    left: 92%;
    opacity: .3; }
  .row.hero .plax_diag_draw_1 {
    position: absolute;
    top: 59px;
    width: 579px;
    left: -155px;
    opacity: .2; }
  .row.hero .plax_diag_draw_2 {
    position: absolute;
    top: 179px;
    width: 500px;
    left: 27%;
    opacity: .15; }
  .row.hero .plax_diag_draw_3 {
    position: absolute;
    top: 234px;
    width: 454px;
    left: 66%;
    opacity: .15; }
  .row.hero .plax_diag_draw_4 {
    position: absolute;
    top: 196px;
    width: 550px;
    left: 34%;
    opacity: .15; }

.product_selector h2 {
  text-align: center; }

.product_selector .product_row {
  padding: 0; }
  .product_selector .product_row .product_wrap {
    width: 253px;
    height: 350px;
    border: 1px solid #f1f1f1;
    border-left: none; }
    .product_selector .product_row .product_wrap h3.label {
      font-family: myriad-pro, Arial, sans-serif;
      padding: 15px;
      /* height: 40px; */
      /* display: block; */
      background-color: rgba(238, 238, 238, 0.4);
      color: #0667b2;
      font-size: 19px;
      font-weight: 600;
      width: 100%;
      z-index: 1;
      bottom: 0;
      position: absolute;
      white-space: pre-wrap; }

.grid {
  overflow: hidden;
  /*border-radius:5px;*/
  width: 100%;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1; }
  .grid ul {
    list-style: none;
    white-space: nowrap;
    height: 10%;
    text-align: center; }
  .grid li {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    /*margin:0 0 0 5px;*/
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out; }
  .grid:first-child {
    margin: 0; }
  .grid img {
    display: block;
    height: 100%;
    margin: auto;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease; }
  .grid .grid-item {
    width: 25%;
    height: 30%;
    border: 1px solid #f1f1f1;
    border-left: none; }
    .grid .grid-item img {
      width: 100%; }
    .grid .grid-item h3 {
      font-family: myriad-pro, Arial, sans-serif;
      padding: 15px;
      background-color: rgba(238, 238, 238, 0.4);
      color: #0667b2;
      font-size: 1.6em;
      font-weight: 600;
      width: 100%;
      z-index: 1;
      text-align: center; }

.carousel {
  display: block;
  /*position: absolute;*/
  -webkit-transform: translateZ(0);
  /*  for demo only */
  /*top:0; right:0; bottom:0; left:0;*/
  width: 100%;
  height: 350px;
  min-width: 550px;
  margin: auto;
  font-size: 0;
  /*background:$bgColor;*/
  /*padding:$padding;*/
  /*border-radius:6px;*/
  /*box-shadow:0 4px 10px #000;*/
  /********************/
  /*height:$carouselHeight;*/
  -webkit-overflow-scrolling: touch;
  /* for tablets */
  /*&:before, &:after{ 
      content:'';
      opacity:0; 
      position:absolute; 
      top:0;
      bottom:0;
      z-index:2;
      width:50px;
      font-size:80px;
      line-height:$carouselHeight - 10;
      font-family:arial;
      color:#555;
      font-weight:bold;
      pointer-events:none;
      transition:0.2s ease-out; 
    }
    &:before{ 
      content:'\2039'; 
      left:0; text-align:left;
      text-indent:-20px;
      box-shadow:50px 0 20px -20px $bodyBG inset; 
    }
    &:after{ 
      content:'\203A'; 
      right:0; text-align:right;
      text-indent:40px;
      box-shadow:-50px 0 20px -20px $bodyBG inset; 
    }
  
    &.right:after, &.left:before{ 
      opacity:1;
    }
  
    &.right{
        &:after{ right:0; text-indent:60px; }
    }
    &.left{
        &:before{ left:0; text-indent:-40px; }
    }*/
  /*> a{ 
      position:absolute; 
      margin:0; top:0; bottom:0; 
      color:#CCC; 
      font-size:1.5em; 
      transition:0.1s;
        &:hover{ color:#FFF; }
        &.prev{ left:-20px; }
        &.next{ right:-20px; }
    }*/
  /*> .indicator{  
      pointer-events:none;
      position:absolute; 
      z-index:4;
      bottom:0; left:0;
      background:$indicatorColor;
      height:4px;
      border-radius:10px;
      opacity:0;
      transition:opacity 0.2s, bottom 0.2s;
    }
  
    &:hover{  
      > .indicator{ opacity:1; bottom:-10px; }
    }*/ }
  .touch .carousel {
    overflow: auto; }
  .carousel > .wrap {
    overflow: hidden;
    /*border-radius:5px;*/ }
    .carousel > .wrap > ul {
      list-style: none;
      white-space: nowrap;
      height: 350px;
      text-align: center; }
      .carousel > .wrap > ul > li {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        /*margin:0 0 0 5px;*/
        position: relative;
        overflow: hidden;
        -webkit-transition: 0.25s ease-out;
        -o-transition: 0.25s ease-out;
        transition: 0.25s ease-out; }
        .carousel > .wrap > ul > li:first-child {
          margin: 0; }
        .carousel > .wrap > ul > li > img {
          display: block;
          height: 100%;
          margin: auto;
          vertical-align: bottom;
          position: relative;
          z-index: 1;
          -webkit-transition: 1s ease;
          -o-transition: 1s ease;
          transition: 1s ease; }

.home-grid {
  display: none; }
  .home-grid .home-grid-item {
    display: none; }

.row.inside_hero {
  min-height: 250px;
  padding: 0;
  border-top: 8px solid #ffef00;
  position: relative;
  overflow: hidden; }
  .row.inside_hero .sub_nav_holder {
    border-bottom: 85px solid rgba(171, 171, 171, 0.4);
    position: relative;
    z-index: 1; }
    .row.inside_hero .sub_nav_holder nav {
      background-color: #0667b2;
      padding: 16px 5% 16px 5%;
      text-align: right; }
      .row.inside_hero .sub_nav_holder nav ul {
        list-style-type: none;
        font-size: 1.6em; }
        .row.inside_hero .sub_nav_holder nav ul li {
          display: inline-block;
          padding: 0px 17px;
          border-left: 1px solid white; }
          .row.inside_hero .sub_nav_holder nav ul li:first-child {
            border-left: none; }
          .row.inside_hero .sub_nav_holder nav ul li:last-child {
            padding: 0px 0px 0px 17px; }
          .row.inside_hero .sub_nav_holder nav ul li a {
            color: white; }
  .row.inside_hero .plax_circle {
    position: absolute;
    width: 562px;
    bottom: 45px;
    left: -6%; }
  .row.inside_hero .plax_plusline {
    position: absolute;
    width: 1300px;
    bottom: 75px;
    left: 232px;
    opacity: .2; }
  .row.inside_hero .plax_plus_blue {
    position: absolute;
    width: 50px;
    bottom: 56px;
    left: 11%;
    opacity: .3; }
  .row.inside_hero .plax_plus_green {
    position: absolute;
    width: 50px;
    bottom: 56px;
    left: 50%;
    opacity: .3; }
  .row.inside_hero .plax_plus_red {
    position: absolute;
    width: 50px;
    bottom: 56px;
    left: 92%;
    opacity: .3; }
  .row.inside_hero .plax_diag_draw_1 {
    position: absolute;
    bottom: 59px;
    width: 579px;
    right: 24%;
    opacity: .2; }
  .row.inside_hero .plax_diag_draw_3 {
    position: absolute;
    bottom: 22px;
    width: 454px;
    right: 4%;
    opacity: .15; }

.main_wrap {
  padding: 0px 5% 0px 0px;
  overflow: visible;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.sidebar_wrap {
  height: 100%;
  float: left;
  padding: 20px 3% 30px 5%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: white; }
  .sidebar_wrap p.sidebar_wrap {
    font-weight: 600; }
  .sidebar_wrap .product_filter {
    border-bottom: 1px solid #dadada;
    padding: 0 0 30px 0;
    margin-bottom: 30px; }
    .sidebar_wrap .product_filter label {
      font-size: 1.6em;
      padding-top: 20px;
      font-weight: 600;
      display: block;
      margin-bottom: 4px; }
    .sidebar_wrap .product_filter select {
      width: 100%; }
  .sidebar_wrap nav.sidebar_nav ul {
    list-style-type: none;
    font-size: 1.6em; }
    .sidebar_wrap nav.sidebar_nav ul li {
      margin-bottom: 15px; }
      .sidebar_wrap nav.sidebar_nav ul li a {
        display: block; }
        .sidebar_wrap nav.sidebar_nav ul li a.activeSideBar {
          color: #0095d4;
          text-decoration: underline; }

.sidebar-h3 {
  color: #0667b2;
  font-size: 2em;
  margin-bottom: 10px; }

.sidebarSearch {
  padding: 2px 50% 2px 10px;
  border: 1px solid #ddd;
  display: inline;
  border-radius: 5px 0px 0px 5px;
  background-color: #ffffff; }

#RMC-padding {
  padding: 2px 48% 2px 10px;
  border: 1px solid #ddd;
  display: inline;
  border-radius: 5px 0px 0px 5px;
  background-color: #ffffff; }

.blueBtn {
  display: inline;
  padding: 9px 20px 4px 4px;
  border-radius: 0px 5px 5px 0px;
  background: #3295ff; }

.activeSideBar {
  color: #0095d4;
  text-decoration: underline; }

.mobileSideBar {
  display: none; }

.mobile-filter {
  display: none; }

#break {
  padding-bottom: 12px; }

.main_content_wrap {
  /*width: 78%;
	float: right;*/
  margin-top: -43px;
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5; }
  .main_content_wrap .opening {
    position: relative;
    overflow: auto; }
    .main_content_wrap .opening .row {
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .main_content_wrap .opening .row .col_half {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-right: 30px; }
        .main_content_wrap .opening .row .col_half:last-child {
          padding-right: 0; }
  .main_content_wrap h1.main_headline {
    font-size: 4.5em;
    font-weight: 400;
    line-height: 1em;
    color: #0667b2;
    margin-bottom: 60px; }
  .main_content_wrap .breadcrumb {
    font-size: 1.6em;
    color: #0667b2;
    margin-bottom: 10px; }
  .main_content_wrap .product_intro_img {
    width: 45%;
    float: right;
    margin-left: 30px; }

.product_main_image {
  border: 1px solid #dadada; }

footer {
  border-top: 1px solid #dcddde;
  border-bottom: 60px solid #dcddde;
  margin: 100px 0px 0px 0px;
  padding: 100px 0; }
  footer .col {
    margin-left: 5%; }
  footer .col.contact {
    padding-top: 80px; }
  footer .company_name {
    font-family: eurostile, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 500; }
  footer .main {
    padding-bottom: 40px; }
  footer article h1 {
    font-family: myriad-pro, Arial, sans-serif;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 30px; }
  footer .events article h1 {
    margin-bottom: 5px; }
  footer .events article time {
    display: block;
    font-size: 1.6em;
    margin-bottom: 30px; }

.color-bg {
  display: none; }

/***********************TAB CONTENT IS HERE**********************************/
div#topTab {
  background-color: #dadada; }

div.tab {
  overflow: hidden;
  border: 1px solid #ffffff;
  width: 100%;
  height: 10%; }

/* Styling the buttons*/
div.tab button {
  text-align: center;
  float: left;
  border: 1px solid #ffffff;
  outline: none;
  cursor: pointer;
  padding: 20px 10px 20px 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.6em;
  width: 25%;
  height: 100%; }

/* hover effect on buttons */
div.tab button:hover {
  background-color: #b1b1b1; }

div.tab button.lrgBtn {
  padding: 10px 10px 20px 10px; }

div.tab button.smlBtn {
  padding: 27px 10px 20px 10px; }

/* The active class*/
div.tab button.active {
  background-color: #0067b2;
  color: #ffffff; }

/* tab content styling */
.tabcontent {
  display: none;
  padding: 4%;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  background-color: #fafafa; }

.tabTitle {
  color: #0067b2;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px; }

.tabList {
  font-size: 16px;
  margin-top: 2%; }

/********************************PRODUCT ITEM CODE BELOW***************************************/
/*.rightCol {
	width:40%;
	float:left;
}*/
th {
  border: 1px solid #ffffff;
  border-collapse: collapse;
  color: #ffffff;
  background-color: #0067b2;
  padding: 10px 20px 10px 20px;
  font-size: 22px; }

td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  background-color: #fff; }

table {
  border-spacing: 0px;
  width: 100%; }

/****************************************MEDIA QUERIES FOR MOBILE DEVICES BELOW*********************************************************************/
@media only screen and (max-width: 1385px) {
  .sidebarSearch {
    padding: 2px 20% 2px 10px; }
  #RMC-padding {
    padding: 2px 18% 2px 10px; }
  /*.rightCol {
	width:40%;
	float:left;
	margin-left: 10%;
}
.spec-h2{
	margin-left:10%;
}*/
  /*table{
	margin-left:10%;
}*/ }

@media only screen and (max-width: 1172px) {
  /* For mobile phones: */
  /*****HOME MEDIA QUERY CONTENT**********************************************************************************/
  .video_holder {
    display: none; }
  .color_overlay {
    display: none; }
  .color-wrapper {
    width: 100%;
    /*background-color: rgba(0, 121, 193, 0.7);*/
    background: -moz-linear-gradient(left, #0079c1 0%, rgba(0, 121, 193, 0.75) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0079c1 0%, rgba(0, 121, 193, 0.75) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#0079c1), to(rgba(0, 121, 193, 0.75)));
    background: -o-linear-gradient(left, #0079c1 0%, rgba(0, 121, 193, 0.75) 100%);
    background: linear-gradient(to right, #0079c1 0%, rgba(0, 121, 193, 0.75) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0079c1', endColorstr='#bf0079c1',GradientType=1 );
    /* IE6-9 */
    margin-left: 0px;
    top: 0;
    position: absolute;
    min-height: 466px;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left; }
    .color-wrapper:after {
      content: "";
      position: absolute;
      width: 220px;
      top: 0;
      left: 134px;
      z-index: -1;
      opacity: .4;
      background: url("/images/styles/bg_dots_1.svg") repeat-y top left 12px/208px;
      -webkit-transform: rotate(30deg);
      -webkit-transform: skew(-30deg, 0deg);
      -ms-transform: skew(30deg, 0deg);
      transform: skew(30deg, 0deg);
      min-height: 466px; }
  .row.hero .text_box {
    padding-left: 5%;
    padding-right: 2%;
    position: absolute;
    width: 100%; }
    .row.hero .text_box h1 {
      font-family: eurostile, Arial, sans-serif;
      font-size: 3.5em !important;
      font-weight: 300;
      line-height: 1.2em;
      margin-bottom: 30px; }
  .home-slider {
    display: none; }
  .home-grid {
    display: inline-block;
    overflow: hidden;
    /*border-radius:5px;*/
    width: 100%;
    padding-left: 5%;
    padding-right: 5%; }
    .home-grid ul {
      list-style: none;
      white-space: nowrap;
      height: 10%;
      text-align: center; }
    .home-grid li {
      display: block;
      vertical-align: middle;
      height: 100%;
      /*margin:0 0 0 5px;*/
      position: relative;
      overflow: hidden;
      -webkit-transition: 0.25s ease-out;
      -o-transition: 0.25s ease-out;
      transition: 0.25s ease-out; }
    .home-grid:first-child {
      margin: 0; }
    .home-grid img {
      display: block;
      height: 100%;
      margin: auto;
      vertical-align: bottom;
      position: relative;
      z-index: 1;
      -webkit-transition: 1s ease;
      -o-transition: 1s ease;
      transition: 1s ease; }
    .home-grid .grid-descriptor {
      background-color: rgba(0, 121, 193, 0.7);
      background-size: cover; }
    .home-grid .category-descriptor {
      color: #fff; }
    .home-grid .home-grid-item {
      display: inline-block;
      width: 50%;
      height: 30%;
      border: 1px solid #f1f1f1;
      float: left; }
      .home-grid .home-grid-item img {
        width: 100%; }
      .home-grid .home-grid-item h3 {
        font-family: myriad-pro, Arial, sans-serif;
        padding: 15px;
        background-color: #eeeeee;
        color: #0667b2;
        font-size: 1.6em;
        font-weight: 600;
        width: 100%;
        z-index: 1;
        text-align: center; }
  /***LIST PAGE CSS********************************************************************************/
  nav.primary {
    text-align: right;
    font-family: eurostile, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase; }
    nav.primary ul {
      list-style-type: none;
      padding: 36px 0 0 0; }
      nav.primary ul li {
        display: inline-block;
        margin-left: 20px;
        font-size: 2em; }
  .sub_nav_holder {
    border-bottom: 85px solid rgba(171, 171, 171, 0.4);
    position: relative;
    z-index: 1; }
    .sub_nav_holder nav {
      background-color: #0667b2; }
      .sub_nav_holder nav ul {
        list-style-type: none;
        font-size: 1.6em;
        width: 80%; }
        .sub_nav_holder nav ul li {
          display: block;
          border-left: 1px solid white;
          text-align: center; }
          .sub_nav_holder nav ul li:first-child {
            border-left: none; }
          .sub_nav_holder nav ul li a {
            color: white; }
  /*****MOBILE SIDE BAR***********************************************************************/
  .sidebar_wrap {
    display: none; }
  #RMC-padding {
    padding: 2px 20% 2px 10px; }
  hr {
    display: none; }
  .mobileSideBar {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 3% 30px 5%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: white;
    text-align: center; }
    .mobileSideBar p.sidebar_wrap {
      font-weight: 600; }
  .mobile-filter {
    width: 100%;
    display: block;
    padding: 2% 0% 2% 15%; }
  .breadcrumb {
    padding-left: 15%; }
  .main_headline {
    padding-left: 15%; }
  .grid {
    overflow: hidden;
    /*border-radius:5px;*/
    width: 100%;
    padding-left: 15%; }
    .grid ul {
      list-style: none;
      white-space: nowrap;
      height: 10%;
      text-align: center; }
    .grid li {
      display: block;
      vertical-align: middle;
      height: 100%;
      /*margin:0 0 0 5px;*/
      position: relative;
      overflow: hidden;
      -webkit-transition: 0.25s ease-out;
      -o-transition: 0.25s ease-out;
      transition: 0.25s ease-out; }
    .grid:first-child {
      margin: 0; }
    .grid img {
      display: block;
      height: 100%;
      margin: auto;
      vertical-align: bottom;
      position: relative;
      z-index: 1;
      -webkit-transition: 1s ease;
      -o-transition: 1s ease;
      transition: 1s ease; }
    .grid .grid-item {
      width: 50%;
      height: 30%;
      border: 1px solid #f1f1f1;
      float: left; }
      .grid .grid-item img {
        width: 100%; }
      .grid .grid-item h3 {
        font-family: myriad-pro, Arial, sans-serif;
        padding: 15px;
        background-color: rgba(238, 238, 238, 0.4);
        color: #0667b2;
        font-size: 1.6em;
        font-weight: 600;
        width: 100%;
        z-index: 1;
        text-align: center; }
  /************************TAB MQ***************************************************************/
  div.tab {
    overflow: hidden;
    border: 1px solid #ffffff;
    width: 100%;
    height: 10%;
    margin-left: 1%; }
  /* Styling the buttons*/
  div.tab button {
    text-align: center;
    float: left;
    border: 1px solid #ffffff;
    outline: none;
    cursor: pointer;
    padding: 20px 10px 20px 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 1.4em;
    width: 25%;
    height: 100%; }
  /* tab content styling */
  .tabcontent {
    display: none;
    padding: 4%;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    background-color: #fafafa; }
  .tabTitle {
    color: #0067b2;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px; }
  .tabList {
    font-size: 16px;
    margin-top: 2%; }
  footer {
    width: 100%; }
  /****END MEDIA TAB HERE****/ }

@media only screen and (max-width: 870px) {
  /*******SUPER SMALL MOBILE SCREENS*********/
  .text_box {
    color: #fff;
    padding-left: 5%;
    width: 25%;
    top: 50px;
    position: absolute; }
    .text_box h1 {
      font-family: eurostile, Arial, sans-serif;
      font-size: 3.5em !important;
      font-weight: 300;
      line-height: 1.2em;
      margin-bottom: 20px; }
  .cta_button {
    position: absolute;
    left: 15%; } }
