$gray: #dcddde;
$yellow: #ffef00;
$lightblue: #0079c1;
$darkblue: #0667b2;
$textgray: #77787b;

$font_heading: eurostile, Arial, sans-serif;
$font_body: myriad-pro, Arial, sans-serif;

form,
p,
ul,
ol,
dl,
dt,
dd,
li,
body,
h1,
h2,
h3,
h4,
h5,
h6,
td,
tr,
button,
figure,
input,
fieldset {
	margin: 0;
	padding: 0;
}

header,
footer,
article,
section,
hgroup,
nav,
figure {
	display: block;
}

* { 
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

a {
	color: $darkblue;
	text-decoration: none;
}

img {
	display: block;
	height: auto;
	width: 100%;
}

.flex_grid {
	display: flex;
}

.col {
	flex: 1;
	flex-wrap: nowrap;
}

body {
	font-family: $font_body;
	font-size: 62.5%;
	color: $textgray;
}

h1,
h2 {
	font-family: $font_heading;
}

.row {
	width: 100%;
	padding: 0 5%;
}

header {
	.row.search_bar {
		background-color: $gray;
		padding: 8px 5%;
	}
	
	.usa_flag {
		flex: 0 1 200px;
				
		img {
		width: 46px;
		float: left;
		margin-right: 10px;
		}
		
		figcaption {
			color: $darkblue;
			font-size: 1.4em;
			padding: 4px 0;
			text-transform: uppercase;
		}
	}
	.secondary {
		text-align: right;
		
		ul {
			list-style-type: none;
			padding: 3px 0 0 0;
			
			li {
				display: inline-block;
				margin-right: 20px;
				font-size: 1.6em;
			}
		}
	}
	.search {
		
		flex: 0 1 400px;
		
		input[type=text] {
		border: 1px solid #c4c4c4;
		height: 26px;
		margin: 0;
		padding: 0 2%;
		width: 75%;
		}
		
		input[type=submit] {
			background-color: $darkblue;
			border: 0;
			color: #fff;
			display: inline-block;
			height: 26px;
			width: 24%;
		}
	}
}

.row.logo_bar {
	padding: 40px 5%;
	background: #fff;
	
	.col.logo {
		flex: 0 1 343px;
	}
	
	nav.primary {
		text-align: right;
		font-family: $font_heading;
		font-weight: 600;
		text-transform: uppercase;
		
		ul {
			list-style-type: none;
			padding: 36px 0 0 0;
			
			li {
				display: inline-block;
				margin-left: 20px;
				font-size: 2em;
			}
		}
		
	}
}

.row.hero {
	min-height: 600px;
	padding: 0;
	border-top: 8px solid $yellow;
	
	.video_holder {
		min-height: 466px;
		overflow: hidden;
		position: relative;
		z-index: 0;
		background-size: cover;
		background-image: none;
		border-bottom: 85px solid $gray;
		
		 
		.main {
			position: absolute;
			min-width: 100%;
			min-height: 100%;
			/*width: 100%;*/
			height: auto;
			z-index: -100;
			/*background-size: cover;*/
			transition: 1s opacity;
			top: -50%;
			left: 50%;
			transform: translate(-50%,0);
			-webkit-transform: translate(-50%,0);
		}
	}
}



