$gray: #dcddde;
$yellow: #ffef00;
$lightblue: #0079c1;
$darkblue: #0667b2;
$textgray: #77787b;

$font_heading: eurostile, Arial, sans-serif;
$font_body: myriad-pro, Arial, sans-serif;

form,
p,
ul,
ol,
dl,
dt,
dd,
li,
body,
h1,
h2,
h3,
h4,
h5,
h6,
td,
tr,
button,
figure,
input,
fieldset {
	margin: 0;
	padding: 0;
}

header,
footer,
article,
section,
hgroup,
nav,
figure {
	display: block;
}

* { 
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

a {
	color: $darkblue;
	text-decoration: none;
}

img {
	display: block;
	height: auto;
	width: 100%;
}

.flex_grid {
	display: flex;
}

.col {
	flex: 1;
	flex-wrap: nowrap;
	/*margin-left: 5%;*/
}

body {
	font-family: $font_body;
	font-size: 62.5%;
	color: $textgray;
	background: url("/images/styles/bg_dots_1.svg") repeat-y top left 12px / 208px;
}

p {
	font-size: 1.6em;
	margin-bottom: 20px;
}

h1,
h2 {
	font-family: $font_heading;
}

.row {
	width: 100%;
	padding: 0 5%;
}

.cta_button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: yellow;
    padding: 15px 20px;
    display: inline-block;
    font-size: 1.8em;	
}

.home {
	h2 {
		color: $darkblue;
		font-family: $font_heading;
		font-size: 4.2em;
		font-weight: 300;
		line-height: 50px;
		margin-bottom: 30px;
	}
}

header {
	.row.search_bar {
		background-color: $gray;
		padding: 8px 5%;
	}
	
	.usa_flag {
		flex: 0 1 200px;
				
		img {
		width: 46px;
		float: left;
		margin-right: 10px;
		}
		
		figcaption {
			color: $darkblue;
			font-size: 1.4em;
			padding: 4px 0;
			text-transform: uppercase;
		}
	}
	.secondary {
		text-align: right;
		
		ul {
			list-style-type: none;
			padding: 3px 0 0 0;
			
			li {
				display: inline-block;
				margin-right: 20px;
				font-size: 1.6em;
			}
		}
	}
	.search {
		
		flex: 0 1 400px;
		
		input[type=text] {
		border: 1px solid #c4c4c4;
		height: 26px;
		margin: 0;
		padding: 0 2%;
		width: 75%;
		}
		
		input[type=submit] {
			background-color: $darkblue;
			border: 0;
			color: #fff;
			display: inline-block;
			height: 26px;
			width: 24%;
		}
	}
}

.row.logo_bar {
	padding: 40px 5%;
	background: #fff;
	
	.col.logo {
		flex: 0 1 343px;
	}
	
	nav.primary {
		text-align: right;
		font-family: $font_heading;
		font-weight: 500;
		text-transform: uppercase;
		
		ul {
			list-style-type: none;
			padding: 36px 0 0 0;
			
			li {
				display: inline-block;
				margin-left: 20px;
				font-size: 2em;
			}
		}
		
	}
}

.row.hero {
	min-height: 631px;
	padding: 0;
	border-top: 8px solid $yellow;
	position: relative;
	overflow: hidden;
	
	.video_holder {
		min-height: 551px;
		overflow: hidden;
		position: relative;
		z-index: 0;
		background-size: cover;
		background-image: none;
		border-bottom: 85px solid rgba(171,171,171, .4);
		
		 
		.main {
			position: absolute;
			min-width: 100%;
			min-height: 100%;
			/*width: 100%;*/
			height: auto;
			z-index: -100;
			/*background-size: cover;*/
			transition: 1s opacity;
			top: -50%;
			left: 50%;
			transform: translate(-50%,0);
			-webkit-transform: translate(-50%,0);
		}
	}
	
	.color_overlay {
		width: 84%;
		/*background-color: rgba(0, 121, 193, 0.7);*/
		background: -moz-linear-gradient(left, rgba(0,121,193,1) 0%, rgba(0,121,193,0.75) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(0,121,193,1) 0%,rgba(0,121,193,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(0,121,193,1) 0%,rgba(0,121,193,0.75) 100%)/*, url("/images/styles/bg_dots.svg") repeat-y top left 12px / 208px*/; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0079c1', endColorstr='#bf0079c1',GradientType=1 ); /* IE6-9 */
		margin-left: 0px;
	    top: 0;
	    position: absolute;
	    min-height: 466px;
	    transform-origin: top left;
	    -ms-transform: skew(-30deg, 0deg);
	    -webkit-transform: skew(-30deg, 0deg);
	    transform: skew(-30deg, 0deg);
	    
	    &:after {
			content: "";
		    position: absolute;
		    width: 220px;
		    top: 0;
		    left: 134px;
		    z-index: -1;
		    opacity: .4;
		    background: url("/images/styles/bg_dots_1.svg") repeat-y top left 12px/208px;
		    -webkit-transform: rotate(30deg);
		    -webkit-transform: skew(-30deg, 0deg);
		    transform: skew(30deg, 0deg);
		    min-height: 466px;
	    }
	    
	}
	
	.text_box {
		color: #fff;
		padding-left: 5%;
		width: 65%;
		top: 50px;
		position: absolute;
			
		h1 {
			font-family: $font_heading;
			font-size: 5.5em;
			font-weight: 300;
			line-height: 1.2em;
			margin-bottom: 30px;
		}
	}
	
	.plax_circle {
		position: absolute;
		width: 562px;
		top: 50px;
		left: -6%;
	}
	
	.plax_plusline {
		position: absolute;
		width: 1300px;
		bottom: 32px;
		left: 232px;
		opacity: .2;
	}

	.plax_plus_blue {
		position: absolute;
		width: 50px;
		bottom: 10px;
		left: 11%;
		opacity: .3;
	}

	.plax_plus_green {
		position: absolute;
		width: 50px;
		bottom: 10px;
		left: 50%;
		opacity: .3;
	}
	
	.plax_plus_red {
		position: absolute;
		width: 50px;
		bottom: 10px;
		left: 92%;
		opacity: .3;
	}
	
	.plax_diag_draw_1 {
		position: absolute;
	    top: 59px;
	    width: 579px;
	    left: -155px;
	    opacity: .2;		
	}

	.plax_diag_draw_2 {
	    position: absolute;
	    top: 179px;
	    width: 500px;
	    left: 27%;
	    opacity: .15;	
	}

	.plax_diag_draw_3 {
	    position: absolute;
	    top: 234px;
	    width: 454px;
	    left: 66%;
	    opacity: .15;
	}
	
	.plax_diag_draw_4 {
		position: absolute;
	    top: 196px;
	    width: 550px;
	    left: 34%;
	    opacity: .15;
	}
}

.product_selector {
	h2 {
		text-align: center;		
	}
	
	.product_row {
		padding: 0;
		
		.product_wrap {
			width: 253px;
			height: 350px;
			border: 1px solid #f1f1f1; border-left: none; 
			
			h3.label {
				font-family: $font_body;
				padding: 15px;
			    /* height: 40px; */
			    /* display: block; */
			    background-color: rgba(238, 238, 238, 0.4);
			    color: #0667b2;
			    font-size: 19px;
			    font-weight: 600;
			    width: 100%;
			    z-index: 1;
			    bottom: 0;
			    position: absolute; 
			    white-space: pre-wrap;
			}
		}
	}
}


$carouselHeight : 350px;
$padding        : 8px;
$indicatorColor : #D82B6A;
$bodyBG         : #292B2C;
$bgColor        : lighten($bodyBG, 16);


.carousel{ 
  display:block; 
  /*position: absolute;*/
  -webkit-transform: translateZ(0); 
  /*  for demo only */
  /*top:0; right:0; bottom:0; left:0;*/
  width:100%; 
  height:$carouselHeight;
  min-width:550px;
  margin:auto;
  font-size:0;
  /*background:$bgColor;*/
  /*padding:$padding;*/
  /*border-radius:6px;*/
  /*box-shadow:0 4px 10px #000;*/
  /********************/
  
  /*height:$carouselHeight;*/ 
  -webkit-overflow-scrolling:touch;
  
    .touch &{ overflow:auto; } /* for tablets */
  
    /*&:before, &:after{ 
      content:'';
      opacity:0; 
      position:absolute; 
      top:0;
      bottom:0;
      z-index:2;
      width:50px;
      font-size:80px;
      line-height:$carouselHeight - 10;
      font-family:arial;
      color:#555;
      font-weight:bold;
      pointer-events:none;
      transition:0.2s ease-out; 
    }
    &:before{ 
      content:'\2039'; 
      left:0; text-align:left;
      text-indent:-20px;
      box-shadow:50px 0 20px -20px $bodyBG inset; 
    }
    &:after{ 
      content:'\203A'; 
      right:0; text-align:right;
      text-indent:40px;
      box-shadow:-50px 0 20px -20px $bodyBG inset; 
    }
  
    &.right:after, &.left:before{ 
      opacity:1;
    }
  
    &.right{
        &:after{ right:0; text-indent:60px; }
    }
    &.left{
        &:before{ left:0; text-indent:-40px; }
    }*/
  
    /*> a{ 
      position:absolute; 
      margin:0; top:0; bottom:0; 
      color:#CCC; 
      font-size:1.5em; 
      transition:0.1s;
        &:hover{ color:#FFF; }
        &.prev{ left:-20px; }
        &.next{ right:-20px; }
    }*/
    /*> .indicator{  
      pointer-events:none;
      position:absolute; 
      z-index:4;
      bottom:0; left:0;
      background:$indicatorColor;
      height:4px;
      border-radius:10px;
      opacity:0;
      transition:opacity 0.2s, bottom 0.2s;
    }
  
    &:hover{  
      > .indicator{ opacity:1; bottom:-10px; }
    }*/
  
    > .wrap{ overflow:hidden; /*border-radius:5px;*/
      > ul{ 
        list-style:none; 
        white-space:nowrap; 
        height:$carouselHeight;
        text-align: center;
          > li{ 
            display:inline-block; 
            vertical-align:middle; 
            height:100%; 
            /*margin:0 0 0 5px;*/ 
            position:relative; 
            overflow:hidden; 
            transition:0.25s ease-out;
            &:first-child{ margin:0; }
            > img{ 
               display:block; 
               height:100%; 
               margin:auto; 
               vertical-align:bottom; 
               position:relative; 
               z-index:1; 
               transition:1s ease; 
            }
            //&:hover img{ transform:scale(1.1); }
          }
       }
    }
}


// ===================================================

	// Inside Pages

// ======================================================


.row.inside_hero {
	min-height: 250px;
	padding: 0;
	border-top: 8px solid $yellow;
	position: relative;
	overflow: hidden;
	
	.sub_nav_holder {
		border-bottom: 85px solid rgba(171,171,171, .4);
		position: relative;
		z-index: 1;
		
		nav {
			background-color: $darkblue;
			padding: 16px 5% 16px 5%;
			text-align: right;
			
			ul {
				list-style-type: none;
				font-size: 1.6em;
				
				li {
					display: inline-block;
					padding: 0px 17px;
					border-left: 1px solid white;
					
					&:first-child
						{ 
							border-left: none;
						}
					&:last-child
						{ 
							padding: 0px 0px 0px 17px;
						}

					
					a {
						color: white;
					}
				}
			}
		} 
	}
	
	.plax_circle {
		position: absolute;
		width: 562px;
		bottom: 45px;
		left: -6%;
	}
	
	.plax_plusline {
		position: absolute;
		width: 1300px;
		bottom: 75px;
		left: 232px;
		opacity: .2;
	}

	.plax_plus_blue {
		position: absolute;
		width: 50px;
		bottom: 56px;
		left: 11%;
		opacity: .3;
	}

	.plax_plus_green {
		position: absolute;
		width: 50px;
		bottom: 56px;
		left: 50%;
		opacity: .3;
	}
	
	.plax_plus_red {
		position: absolute;
		width: 50px;
		bottom: 56px;
		left: 92%;
		opacity: .3;
	}

	.plax_diag_draw_1 {
		position: absolute;
	    bottom: 59px;
	    width: 579px;
	    right: 24%;
	    opacity: .2;	
	}

	.plax_diag_draw_3 {
	    position: absolute;
	    bottom: 22px;
	    width: 454px;
	    right: 4%;
	    opacity: .15;	
	}

}


.main_wrap {
	padding: 0px 5% 0px 0px;
	overflow: visible;
	display: flex;
}

.sidebar_wrap {
	height:100%;
	float: left;
	padding: 20px 3% 30px 5%;
	flex: 1;
	background-color: white;
}

.main_content_wrap {
	/*width: 78%;
	float: right;*/
	margin-top: -43px;
	flex: 5;
	
	h1.main_headline {
		font-size: 4.5em;
		font-weight: 400;
		line-height: 1em;
		color: $darkblue;
		margin-bottom: 60px;
	}

	.breadcrumb {
		font-size: 1.6em;
		color: $darkblue;
		margin-bottom: 10px;
	}	
}




footer {
	border-top: 1px solid $gray; 
	border-bottom: 60px solid $gray;
	margin: 100px 0px 0px 0px;
	padding: 100px 0;
	
	.col {
		margin-left: 5%;
	}
	
	.col.contact {
		padding-top: 80px;
	}
	
	.company_name {
		font-family: $font_heading;
		font-size: 1.2em;
		font-weight: 500;
	}
	
	.main {
		padding-bottom: 40px;
	}
	
	article {
		h1 {
			font-family: $font_body;
			font-size: 2em;
			font-weight: 400;
			margin-bottom: 30px;
		}
	}
	
	
	.events {
	
		article {	
			h1 {
				margin-bottom: 5px;
			}
			time {
				display: block;
				font-size: 1.6em;
				margin-bottom: 30px;
			}
		}
	}
}

